body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
}

.card {
  background: white;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

.price {
  font-size: 22px;
  font-weight: bold;
}